# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg
*.whl
*.swp
*.swo

# PostgreSQL
*.sql
*.sql.gz
*.sql.bz2
*.sql.xz
*.sql.lzma
*.sql.zst
*.sql.7z
*.sql.rar
*.sql.tar
*.sql.tar.gz
*.sql.tar.bz2
*.sql.tar.xz
*.sql.tar.lzma
*.sql.tar.zst
*.sql.zip
*.sql.bz2
*.sql.xz
*.sql.lzma
*.sql.zst
*.sql.7z
*.sql.rar
*.sql.tar
*.sql.tar.gz
*.sql.tar.bz2
*.sql.tar.xz
*.sql.tar.lzma
*.sql.tar.zst
*.sql.zip

# Visual Studio Code
.vscode/